body, html{
    height: 100%;
}
/* Text */

.text {
    margin-top: 2rem;
    line-height: 5px;
}

.text1 {
    line-height: 5px;
}

.text2 {
    text-align: justify;
    margin-top: 1.4rem;
}
.text3{
    position: absolute;
}

.text4{
    margin-left:15px;
    text-decoration: none;
    color: black;
}

/* Layout */
.layout1 {
    padding: 100px 0 0 0;
}
.layout2 {
    padding: 25px 0 0 0;
    margin-top:25px;
}
.layout3 {
    padding: 15px 0 0 0;
}
.layout4 {
    padding: 25px 0 0 0;
    margin-top:100px;
}
.layout5 {
    padding: 25px 0 0 75px;
    margin-top:100px;
}

.layout6{
    margin-top: 50px;
    padding-bottom: 50px;
}
.layout7{
    padding-top: 50px;
}
.layout8{
    padding: 50px 0 0 50px;
}
.layout9{
    padding: 50px 0 0 0;
    background: #F4F3EE;
}
.layout10{
    padding: 50px 0 0 100px;
}

.layreg{
    margin: 0 auto;
    margin-top: 50px;
}

.layreg1{
    margin-top: 40px;
    margin-bottom: 50px;
}

.sm{
    position: relative;
}

.rounded{
    border-radius: 5px;
}

.bawah{
    background: #5BD5CF;
    bottom: 0;
    position: absolute;
    line-height: 50px;
}


/* Container */
.container1{
    height: 100%;
    width: 50%;
    margin-left: 26%;
    justify-content: center;
    align-items: center;
}

.container2{
    width: auto;
    height: auto;
}
.container3{
    display: grid;
    place-items: center;
}

.kotak{
    width:400px;
    height:225px;
    background-color: #5BD5CF;
}


/* Background */
.bg {
    background-image: url(image/bg.png);
    background-size: cover;
    height: 700px;
    filter: brightness(50%);
}

.bg2 {
    background-image: url(image/rs.png);
    background-size:cover;
    height: 500px;
}

.bg3 {
    background-color: #5BD5CF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    padding-top: 50px;
}
.bg7 {
    background-color: #5BD5CF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 883px;
    padding-top: 50px;
}

.bg4 {
    background-image: url(image/rs.png);
    background-size:cover;
    height: 883px;
}
.bg5 {
    background-color: #F4F3EE;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 969px;
    padding-top: 50px;
}
.bg6 {
    background-image: url(image/rs.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000;
}

/* Button */
.btn-1{
	color: #DA2871;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
}
.btn-2{
	color: white;
	background-color: #DA2871;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
}

/* Style Gambar */
.bw{
    filter: brightness(50%);
}
.rounded-profil{
    border-radius: 300px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    width: 150px;
    height: 150px;
}

/* Border */
.garis{
    border-left: 1px white solid;
    height: 5rem;

}

#layanan .margin {
    margin-top:50px;
}

.footer{
    background: #5BD5CF;
    bottom: 0;
    position: absolute;   
}

#keluhan .margin{
    border-radius: 10px;
    background-color: #F4F3EE;
}

#keluhan .judul{
    padding: 50px 0 0 50px;
}

#keluhan .kotak{
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 50px 0 0 0;
    background-color: #F4F3EE;
    
}

#keluhan .btn-2{
    margin: 0 auto;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
	background-color: #DA2871;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
}

#jadwal .drop{
    background: black;
    color: white;
}

#jadwal .margin-top{
    margin-top: 50px;
}

#jadwal .padding{
    padding: 50px 20px 0 50px;
}

#jadwal .btn-2{
    margin: 0 auto;
    color: white;
	background-color: #DA2871;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
}
#jadwal .lh{
    line-height: 5px;
}

#antrian .card{
    margin: 0 auto;
    background: #F4F3EE;
}

#antrian .btn-2{
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
	background-color: #DA2871;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
}

#daftarAntrian .container{
    background-color: #F4F3EE;
    padding: 25px 50px 50px 50px;
    border-radius: 10px;
}
#daftarAntrian .title{
    color:#5BD5CF;
    margin-bottom:25px;
}
#daftarAntrian thead{
    background-color: #C4C4C4;
}
#daftarAntrian .baris{
    background-color: white;
    line-height: 50px;
}
#daftarAntrian .btn-2{
    color: white;
	background-color: #DA2871;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
}
#inputkeluhan .container{
    background-color: #F4F3EE;
    padding: 50px 0 50px 50px;
    border-radius: 10px;
}
#inputkeluhan .title{
    color: #5BD5CF;
    margin-bottom:20px;
}
#inputkeluhan .kotak{
    height: auto;
    width: 50%;
    background-color: #F4F3EE;
    margin: 0 auto;
}
#inputkeluhan .btn-2{
    margin: 0 auto;
    width: 30%;
    color: white;
	background-color: #DA2871;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
}

#homeDokter .container{
    background-color: #F4F3EE;
    padding: 50px 0 50px 50px;
    border-radius: 10px;
}

#homeDokter .kotak{
    height: auto;
    width: 75%;
    background-color: #F4F3EE;
    margin: 0 auto;
    margin-top:50px;
}

#homeDokter .rounded-profil{
    border-radius: 300px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    width: 250px;
    height: 250px;
}
#homeDokter .profil{
    margin-top:30px;
}

#AntrianPasien .container{
    background-color: #E5E5E5;
    padding: 50px 50px 50px 50px;
}
#AntrianPasien .nama{
    font-size: 20px;
    line-height: 5px;
}
#AntrianPasien .dokter{
    line-height: 20px;
}
#AntrianPasien .title{
    margin-left:50px;
    line-height: 5px;
}
#AntrianPasien .isi{
    margin-left:50px;
}
#AntrianPasien .ambil{
    color: black;
}
#AntrianPasien .btn-2{
    margin-left:30%;
    width: 30%;
    color: white;
	background-color: #DA2871;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
}
#resepObat .container{
    background-color: #F4F3EE;
    padding: 50px 100px 50px 100px;
}
#resepObat .card{
    background-color: #DA2871;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    color: white;
}
#bookKamar .container{
    background-color: #F4F3EE;
    padding: 50px 100px 50px 100px;
}
#bookKamar .card{
    background-color: #DA2871;
    margin: 0 auto;
    color: white;
}
#bookKamar .btn-1{
    color: white;
	background-color: #5BD5CF;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
    font-weight: bold;
}


